@import "/styles/variables";
@import "/styles/mixins";

$backdrop-color: $primary-color;

.modal {
  position: fixed;
  inset: 0;
  z-index: $z-modal;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;

  &-backdrop {
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    background: $modal-color;
  }

  &-container {
    width: clamp(50%, 700px, 90%);
    margin: auto;
    padding: 2rem;
    border-radius: 3rem;
    background: $container-color;

    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: $z-modal + 1;
  }
}
