$primary-color: hsl(250, 66%, 75%);
$primary-color-alt: hsl(250, 66%, 71%);

$title-color: hsl(219, 15%, 95%);
$text-color: hsl(219, 8%, 75%);
$text-color-light: hsl(219, 4%, 55%);

$body-color: hsl(219, 48%, 8%);
$container-color: hsl(219, 32%, 12%);
$container-color-alt: hsl(219, 32%, 20%);
$white: #fff;

$nav-menu-color: hsla(219, 32%, 16%, 0.8);
$nav-menu-item: hsla(250, 32%, 16%, 0.2);
$nav-menu-item-alt: hsla(250, 32%, 16%, 0.4);

$modal-color: hsla(219, 28%, 16%, 0.7);
