$primary-color-code: hsl(250, 66%, 75%);
$primary-color-alt-code: hsl(250, 66%, 71%);

$title-color-code: hsl(219, 15%, 95%);
$text-color-code: hsl(219, 8%, 75%);
$text-color-light-code: hsl(219, 4%, 55%);

$body-color-code: hsl(219, 48%, 8%);
$container-color-code: hsl(219, 32%, 12%);
$container-color-alt-code: hsl(219, 32%, 20%);

$white: #fff;

$nav-menu-color: hsla(219, 32%, 16%, 0.8);
$nav-menu-item: hsla(250, 32%, 16%, 0.2);
$nav-menu-item-alt: hsla(250, 32%, 16%, 0.4);

$modal-color: hsla(219, 28%, 16%, 0.7);

:root [theme="light"] {
  --title-color: #{$title-color-code};
  --text-color: #{$text-color-code};
  --text-color-light: #{$text-color-light-code};
  --body-color: #{$body-color-code};
  --container-color: #{$container-color-code};
  --container-color-alt: #{$container-color-alt-code};
}

[theme="dark"] {
  --title-color: #343a40;
  --text-color: #343a40;
  --text-color-light: #6c757d;
  --body-color: #edede9;
  --container-color: #e3d5ca;
  --container-color-alt: #d6ccc2;
}

$primary-color: $primary-color-code;
$primary-color-alt: $primary-color-alt-code;
$title-color: var(--title-color);
$text-color: var(--text-color);
$text-color-light: var(--text-color-light);
$body-color: var(--body-color);
$container-color: var(--container-color);
$container-color-alt: var(--container-color-alt);
