@import "../variables";
@import "../mixins";

.about {
  &__container {
    row-gap: 2.5rem;

    @include lg-screen {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      column-gap: 4rem;
    }
  }

  &__img {
    width: 220px;
    border-radius: 1.5rem;
    justify-self: center;

    @include lg-screen {
      width: 350px;
    }
  }

  &__info {
    display: grid;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }

  &__card {
    flex-direction: row;
    align-items: center;

    @include lg-screen {
      text-align: center;
      padding: 1rem 1.25rem;
    }

    &-text {
      flex-direction: row;
      padding-left: 1rem;
      text-align: left;
      line-height: 24px;
    }
  }

  &__icon {
    font-size: 1.5rem;
    color: $primary-color;
  }

  &__description {
    font-size: $normal-font-size;
    margin-bottom: 2rem;
  }
}
