@import "../variables";
@import "../mixins";

.about {
  &__container {
    row-gap: 2.5rem;

    @include lg-screen {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      column-gap: 4rem;
    }
  }

  &__img {
    width: 220px;
    border-radius: 1.5rem;
    justify-self: center;

    @include lg-screen {
      width: 350px;
    }
  }

  &__info {
    display: grid;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }

  &__card {
    flex-direction: row;
    align-items: center;

    @include lg-screen {
      text-align: center;
      padding: 1rem 1.25rem;
    }

    &-text {
      flex-direction: row;
      padding-left: 1rem;
      text-align: left;
      line-height: 24px;
    }
  }

  &__icon {
    font-size: 1.5rem;
    color: $primary-color;
  }

  &__description {
    font-size: $normal-font-size;
    margin-bottom: 2rem;
  }
}
/* -----------------Classes before redesign--------------------------*/

//.about {
//  &__container {
//    row-gap: 2.5rem;
//
//    @include lg-screen {
//      grid-template-columns: repeat(2, 1fr);
//      align-items: center;
//      column-gap: 4rem;
//    }
//  }
//
//  &__img {
//    width: 220px;
//    border-radius: 1.5rem;
//    justify-self: center;
//
//    @include lg-screen {
//      width: 350px;
//    }
//  }
//
//  &__data {
//    text-align: center;
//
//    @include lg-screen {
//      text-align: initial;
//    }
//  }
//
//  &__info {
//    display: grid;
//    grid-template-columns: repeat(3, 1fr);
//    gap: 0.5rem;
//    margin-bottom: 2rem;
//    justify-content: center;
//
//    @include sm-screen {
//      grid-template-columns: repeat(3, 140px);
//    }
//
//    @include lg-screen {
//      justify-content: initial;
//    }
//  }
//
//  &__card {
//    place-items: center;
//
//    @include lg-screen {
//      text-align: center;
//      padding: 1rem 1.25rem;
//    }
//  }
//
//  &__icon {
//    font-size: 1.5rem;
//    color: $primary-color;
//    margin-bottom: 0.5rem;
//  }
//
//  &__title {
//    font-size: $small-font-size;
//  }
//
//  &__subtitle {
//    font-size: $tiny-font-size;
//  }
//
//  &__description {
//    margin-bottom: 2rem;
//
//    @include sm-screen {
//      padding: 0 5rem;
//    }
//
//    @include lg-screen {
//      padding: 0 4rem 0 0;
//      margin-bottom: 2.5rem;
//    }
//  }
//}
